.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8.5in;
  margin: 0 auto;
  font-family: var(--font-serif);
}

.main h1 {
  margin-bottom: 2rem;
}

.image {
  width: 80%;
  height: auto;
  padding: 2rem;
}